<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.fmstechnician260921" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>FMS Technician</name>
  <description>
        FMS Technician Mobile Application
    </description>
  <author email="fkarnagi@gmail.com" href="http://fernandokarnagi.wordpress.com">
      Fernando Karnagi
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>